@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Salsa&family=Poppins&display=swap');


* {
	margin: 0;
	padding: 0;
	list-style: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	background-color: #feeafe;

}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


h1 {
	text-align: center;
	font-size: 40px;
	margin-top: 2rem;
	font-family: 'Salsa';
}

p {
	font-family: 'Poppins';
}

a {
	text-decoration: none;
}

.icons i {
	font-size: 2.5rem;
}

.icons i:hover {
	font-size: 3rem;
	transition: 0.5s ease-in-out;
}

/*HEADER*/
header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	padding: 0 1rem 0 5rem;
}

header::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #b88dda, transparent);
	z-index: 2;
}

.header-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header-text h1 {
	margin-top: -2rem;
	font-family: 'Montserrat';
}

.header-text h2 {
	font-size: 40px;
	color: #6e30a1;
}

.header-text p {
	margin-top: 1rem;
	font-size: 20px;
	color: #706d6d;
}

.header-text p a {
	font-style: normal;
	text-decoration: none;
	color: #2d2c2c;
	font-weight: bolder;
}

header img {
	width: 700px;
	height: 700px;
}

/*ABOUT*/
.about-me {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100vh;
	width: 100%;
	background: #b88dda;
}


.about-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	padding: 10px 100px 50px 100px;
	width: 100%;
}

.about-img img {
	width: 400px;
	height: 400px;
	filter: drop-shadow(0px 0px 20px rgba(75, 19, 98, 0.902));
}

.about-img img:hover {
	transition: 4.5s ease-in-out;
	animation: shadowAnimation 1s cubic-bezier(0.55, 0.025, 0.675, 0.97) infinite alternate;
}

.about-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
}

.about-text-name {
	margin-top: -1rem;
	font-size: 2.3rem;
}

.about-text-name strong {
	color: #6e30a1;
	cursor: pointer;
}

.about-text-subtitle {
	margin-top: 0.1rem;
	font-size: 1.1rem;
	color: #252424;
}

.about-text-description {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin-top: 1rem;
	text-decoration: none;
}

.description-text {
	font-size: 1.2rem;
	text-align: justify;
}

.about-text-description .description-text abbr,
.about-text-description .description-text a {
	text-decoration: none;
	font-weight: bolder;
	color: #300e4b;
}

.about-text-description .description-text abbr:hover,
.about-text-description .description-text a:hover {
	color: #9000ff;
	transition: 0.2s ease-in;
}

.about-text-social {
	margin-top: 1.7rem;
	display: flex;
	flex-direction: column;
	width: 80%;
}

.about-text-social h4 {
	font-size: 1.3rem;
}

.about-social.icons {
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	margin-top: 2.2rem;
}

.about-social.icons i {
	color: #2c0948;
}

.about-social.icons i:hover {
	color: thistle;
}


/*PROJECTS*/

.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: relative;
	margin-bottom: 100px;
}

.projects::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 90px;
	background: linear-gradient(to bottom, #b88dda, transparent);
	z-index: 2;
}

.projects h1 {
	margin-top: 250px;
}

.project-container {
	padding: 2rem 5rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 100px;
	margin-bottom: 10rem;
}

.project-item {
	position: relative;
	margin-top: 15px;
	background-color: #b88dda;
	width: 370px;
	height: 500px;
	border-radius: 2rem;
	box-shadow: -3px -5px 20px 3px #985dc5, 3px 3px 30px 5px #300e4b;
}

.project-item:hover {
	background-color: #c9a0e9e7;
	transition: 0.3s ease-in-out;
}

.project-image {
	margin: 15px;
	border-radius: 1.5rem;
	overflow: hidden;

}

.project-image img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 200px;
}

.project-text {
	height: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-item h3 {
	margin-top: 0.5rem;
	text-align: center;
	font-size: 25px;
}

.project-item p {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	height: 100%;
	padding: 0 20px;
	text-align: justify;
	font-style: normal;
}

.project-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
	justify-content: center;
	position: absolute;
	padding: 0 30px;
	bottom: 5%;
	left: 0;
	right: 0;
}

.project-button a {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
}

.code-btn i {
	background: none;
	color: #2c0948;
	font-size: 2.5rem;
}

.demo-btn i {
	background: none;
	color: #2c0948;
	font-size: 2.9rem;
}

.code-btn i:hover,
.demo-btn i:hover {
	color: whitesmoke;
	transition: .3s ease-in-out;
}

.project-item.card-vazio {
	filter: brightness(0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.project-item.card-vazio h1 {
	font-family: 'Poppins';
	color: #300e4b;
	margin-top: -1rem;
	font-size: 3.5rem;
	transform: rotate(-20deg);
}

/*FOOTER*/
footer {
	background-color: #b88dda;
	height: 150px;
	color: whitesmoke;
	display: flex;

}

.footer-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	position: relative;
}

.footer-content p {
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
	margin-top: -1rem;
}

.footer-social .icons {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 1.3rem;
}

.footer-social .icons i {
	color: #2c0948;
}

.footer-social .icons i:hover {
	color: thistle;
}

.footer-social h3 {
	margin-top: 1.7rem;
}

/*ANIMATION*/
@keyframes shadowAnimation {
	0% {
		filter: drop-shadow(0px 0px 20px rgba(75, 19, 98, 0.902)) brightness(0.8);
		transform: scale(0.9);
	}

	100% {
		filter: drop-shadow(0px 0px 45px rgba(133, 50, 166, 0.902)) brightness(1);
		transform: scale(1);
	}
}

/*RESPONSIVE*/
@media screen and (min-width: 1630px) {
	h1 {
		font-size: 70px;
	}

	.header-text h1 {
		margin-top: -1.5rem;
		font-size: 5rem;
	}

	.about-me {
		height: 87vh;
	}

	.about-me h1 {
		margin-top: 7rem;
	}

	.about-container {
		margin-top: -100px;
		padding: 70px 200px 50px 200px;

	}

	.projects h1{
		margin-bottom: 50px;
	}
}