@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Salsa&family=Poppins&family=Satisfy&display=swap');

:root {
    ---blackColor: #1e293b;
	---purpleColor: #A591EF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1900px;
    min-height: 100vh;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.icons i {
	font-size: 2.5rem;
}

.icons i:hover {
	font-size: 3rem;
	transition: 0.5s ease-in-out;
}

.secTittle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    color: var(---blackColor);
}

.secTittle h1 {
    text-transform: uppercase;
}

.secTittle #line {
    width: 120px;
    border: 1px solid;
}

.secTittle p {
    color: rgba(0, 0, 0, 0.771);
}

/*HEADER*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px 100px;
    position: fixed;
    z-index: 50;
	background: aliceblue;
}

header .logo{
	margin-left: 20px;
}

header .logo h1 {
    font-family: 'Satisfy';
    color: var(---blackColor);
    letter-spacing: 2px;
	font-size: 40px;
}

header .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navLinks li a {
    font-family: 'Poppins';
    font-size: 1.1rem;
    padding: 8px 15px;
    color: var(---blackColor);
	font-weight: bolder;
}

.navLinks li a[data-status="active"],
.navLinks li a:hover{
    border-bottom:2px solid var(---purpleColor) ;
    color: var(---purpleColor);
}

.navLinks li a:hover{
	transition: 0.1s ease-in;
}

/*ABOUT*/

#about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
	height: 90vh;
}

#about h1 {
    font-size: 37px;
    color: var(---blackColor);
    margin: 0.1rem 0 1rem 0;
}

#about h4 {
    font-size: 18px;
    letter-spacing: 1px;
    color: var(---purpleColor);
}

#about p {
    font-size: 16px;
    color: #6b7280;
    margin-bottom: 1.5rem;
    line-height: 1.4;
    text-align: justify;
}
.aboutContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px 0 30px;
    width: 100%;
	max-height: 500px;
}

.aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 20px 100px;
}

.aboutImage{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.aboutImage img {
    width: 400px;
    height: 450px;
}

abbr,
.aboutText p a {
    text-decoration: none;
    font-weight: bolder;
    color: var(---blackColor);
}

.aboutText p abbr:hover,
.aboutText p a:hover {
    color: var(---purpleColor);
    transition: 0.2s ease-in;
}


/*PROJECTS*/

#projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.project-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	gap: 50px;
	margin: 3rem 0;
}

.project-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 85%;
}

.project-image{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 320px;
	height: 320px;
	border: 2px solid var(---purpleColor);
	border-radius: 20px;
}
.project-image img{
	width: 300px;
	height: 300px;
	border: 2px solid var(---purpleColor);
	border-radius: 20px;
}
.project-text{
	display: flex;
	flex-direction: column;
	padding: 7px;
	justify-content: space-around;
	text-align: center;
	width: 60%;
	height: 320px;
	border: 2px double var(---purpleColor);
	border-radius: 20px;
}

.project-text .title{
	margin-top: 20px;
}
.project-text .description{
	margin: 0 10px;
	padding: 17px;
	font-size: 15px;
	text-align: justify;
}

/*FOOTER*/
footer {
	background-color: #b88dda;
	height: 150px;
	color: whitesmoke;
	display: flex;

}

.footer-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	position: relative;
}

.footer-content p {
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
	margin-top: -1rem;
}

.footer-social .icons {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 1.3rem;
}

.footer-social .icons i {
	color: #2c0948;
}

.footer-social .icons i:hover {
	color: thistle;
}

.footer-social h3 {
	margin-top: 1.7rem;
}

/*ANIMATION*/
@keyframes shadowAnimation {
	0% {
		filter: drop-shadow(0px 0px 20px rgba(75, 19, 98, 0.902)) brightness(0.8);
		transform: scale(0.9);
	}

	100% {
		filter: drop-shadow(0px 0px 45px rgba(133, 50, 166, 0.902)) brightness(1);
		transform: scale(1);
	}
}

/*RESPONSIVE*/
@media screen and (min-width: 1630px) {
	h1 {
		font-size: 70px;
	}

	.header-text h1 {
		margin-top: -1.5rem;
		font-size: 5rem;
	}

	.about-me {
		height: 87vh;
	}

	.about-me h1 {
		margin-top: 7rem;
	}

	.about-container {
		margin-top: -100px;
		padding: 70px 200px 50px 200px;

	}

	.projects h1{
		margin-bottom: 50px;
	}
}